<h1>Abuse Bayes</h1>

<p>An API that tells you whether a certain string is likely to be abuse or not.</p>

<div class="example">
  <code>
    POST /api/v1/classify<br/>
    PARAMS {'text': 'A test string'}<br/>
    RESPONSE<br/>
    {<br/>
    &nbsp;&nbsp;'success': true,<br/>
    &nbsp;&nbsp;'abuse': false<br/>
    }<br/>
  </code>
</div>

<p>
Get the code on <a href="https://github.com/simonv3/abuse-bayes-server" title="Abuse Bayes Server">GitHub</a>.
