<p>An API that tells you whether a certain string is likely to be abuse or not.</p>

<div class="example">
  <code>
    POST /api/v1/classify<br/>
    PARAMS {'text': 'A test string'}<br/>
    RESPONSE<br/>
    {<br/>
    &nbsp;&nbsp;'success': true,<br/>
    &nbsp;&nbsp;'abuse': false<br/>
    }<br/>
  </code>
</div>
